@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:ital,wght@0,300;0,700;1,500;1,900&display=swap');
/* redes sociales fijadas */
.social-fixed{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 30px;
    right: 10px;
    z-index: 100;
}

.social-fixed a:hover{
    transition: 0.7s ease-in-out;
    transform: scale(1.2);
}

.social-fixed i{
    padding: 14px;
}
.social-fixed a{
    margin-top: 10px;
}

.fab3 {
    width: 42px;
    height: 42px;
    color: #0cdb62;
    font-weight: 400;
    font-size: 50px;
    margin: 0 20px;
    transition: .5s ease-in-out;
}

.fix-wtsp{
    color: #0cdb62;
    background-color: none;
}
/* cambio de idiomas */

.idioma-fixed{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 30px;
    left: 10px;
    z-index: 100;
}

.fabIdioma{
    width: 70px;
    height: 42px;
    color: #0cdb62;
    font-weight: 400;
    font-size: 50px;
    margin: 0 20px;
    transition: .5s ease-in-out;
}



/* pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--baseColor);
}

body {
    /* position: relative; */
    font-family:  'Roboto', sans-serif;
    /* overflow: hidden; */
    background-color: var(--baseBackground) ;
    

}

.container {
    width: 95vw;
    margin: auto;
    max-width: 1200px;
    overflow: hidden;
    

}

/* Barra de 3 lineas */

.icono {
    width: 30px;
    height: 30px;
    /* background-color: red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    cursor: pointer;
    display: none;
}

.icono span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #9A00BF;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

:root {
    --EveryLetter: #fff;
    --btnDownload: #1d2029;
    --btnDownloadHover: 5px 10px 15px rgba(238, 241, 34, 0.9);;
    --boxShadowImg: 5px 10px 15px rgba(40, 53, 43, 0.9);
    --letrabtn: #1d2029;
    --letrabtn2: #fff;
    --fondoImg: rgba(60, 56, 92, 0.9);
    /* --color-menu: rgba(252, 102, 15, 0.9);  */
    --color-menu: #c99806; 
    /* rgba(60, 56, 92, 0.9); */
    --background: #000000;
    --white: #fff;
    --header: #D3D3D3;
    --lightGrey: #f8f9fe;
    --baseBackground: white;
    --baseColor: #1d2029;
    --greyBold: #6f717e;
    --black: #000000;
    --shadowImge: 5px 5px 50px rgba(53, 40, 41, 0.9);
    --yellow: #FFFF00;
    --switch: linear-gradient(to right, #e5ff00 0%, #ff020f 100% );
    /* --switch: linear-gradient(to right, #ff8c09 0%, #0cdb62 100% ); */
    /*Cards*/
    --backgroundCard: #f0f3fa;
    --lineTop: hsl(37, 97%, 70%);
    --lineBottom: hsl(203, 89%, 53%);
    --letraCard: #fff;
    --iconoCard: #000;
    /*ICONOS*/
    --backgroundIcon: #f0f3fa;
    --backgroundHoverIcon: #1d2029;
    --colorHoverIcon: #f0f3fa;
    /*CONTACTO*/
    --letraContact: #1d2029;
    --btnSubmit: linear-gradient(to right, #ff9a0163 0%, #1d20297a 100% );
    /* FOOTER */
    --orange: #fbc531;
    --iconFab: #f6b333;
    --iconBorder: 1px 3px 11px -5px rgb(209 13 45 / 69%);
}

/* Navegacion */

.brand .fab {
    width: 50px;
    height: 50px;
    font-size: 50px;
    cursor: pointer;
}

.bar-nav {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    /* padding: 20px 0; */
    align-items: center;
    /* background-color: var(--header); */
    font-weight: 700;
    opacity: 0;
    transform: scale(0.9);
    transition: .7s ease-in-out all;
    letter-spacing: 1px;
    /* font-family: 'Tangerine', cursive;
    font-size: 30px;
    font-weight: 600; */
}

.bar-nav.visible{
    opacity: 1;
    transform: scale(1);
}


.nav__hamburguer{
    display: none;
}

.nav__close{
    display: none;
}


.brand {
    grid-column: 2 / 3;
    color: var(--baseColor);
}

.brand a {
    color: var(--baseColor);
}

.brand span {
    color: var(--yellow);
}

h1 {
    color: var(--baseColor);
}

h4{
    color: var(--baseColor);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}
.h5{
    color: var(--iconFab);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;

}


.menu-list {
    display: flex;
    justify-content: space-around;
    grid-column: 6 /13;
    list-style: none;
}

.dark-mode {
    grid-column: 14 / 16;
}

/* __________ */

.menu-list a {
    margin-bottom: 1000px;
    text-decoration: none;
    color: var(--baseColor);
}

.menu-list a:hover {

    color: var(--color-menu);
    border-bottom: 4px solid var(--color-menu);
    padding-bottom: 15px;
    transition: border-bottom .2s;
    border-radius: 40%;
}

.brand a {
    text-decoration: none;
}

/* seccion 2 */

.info-personal {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: repeat(6, 1fr);
    opacity: 0;
    transform: scale(0.9);
    transition: .7s ease-in-out all ;
    margin-top: 30px;
    margin-bottom: 70px;
}

.info-personal.visible{
    opacity: 1;
    transform: scale(1);

}

.info-personal.line-top:after {
    background: var(--switch);
}

.info-personal-image{
    margin-top: 70px;
    margin-left: 30px;
    width: 240px;
    height: 300px;
    grid-column: 6 / 8;
    grid-row: 1 / 6;
    background: var(--fondoImg);
    background-image: url(../img/Foto.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    box-shadow: var(--shadowImge);
    /* border: 1px solid rgb(31, 28, 31); */
    border-radius: 10px;
    position: relative;
}
.info-personal-image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg, 
        var(--lineBottom), var(--orange), deeppink, var(--lineTop),
        var(--lineBottom), var(--orange), deeppink, var(--lineTop)
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 15s linear infinite;
}
.info-personal-content {
    padding-left: 40px ;
    padding-right: 40px ;
    grid-column: 1 / 6;
    grid-row: 1 / 7;
    color: var(--baseColor);
    /* border: 1px solid springgreen; */
    text-align: justify;
    padding-top: 83px;
    margin-top: 20px;
    
}

.btn-download-center{

    display: flex;
    justify-content: center;
    /* border: 1px solid salmon;  */
    
}



.btn-download {
    background: var(--btnDownload);
    color: var(--letrabtn2);
    padding: 13px 13px;
    border-radius: 15px;
    box-shadow: var(--boxShadowImg);
    font-weight: 700;
    position: relative;
}
/* 
.btn-download::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg, 
        var(--lineBottom), var(--orange), deeppink, var(--lineTop),
        var(--lineBottom), var(--orange), deeppink, var(--lineTop)
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 15s linear infinite;
}
 */

@keyframes glowing {
    0% {
        background-position: 0 0 ;
    }
    /* 25% {
        background-position: 250% 0 ;
    } */
    50% {
        background-position: 400% 0 ;
    }
    /* 75% {
        background-position: 500% 0 ;
    } */
    100% {
        background-position: 0 0 ;
    }
}

.btn-download:hover {
    transform: scale(1.1);
    transition: transform .4s ease-in-out;
}

.info-personal-content h2 {
    font-size: 30px;
}
.info-personal-content p {
    font-size: 20px;
    margin-bottom: 25px;
}

.info-personal-content h5 {
    font-size: 20px;
    padding: .4em 0;
    text-align: justify;
}

.show-slide{
    border-radius: 15px;
    width: 100%;
    height: 70vh;
    background-image: url(../img/imagen.jfif) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    opacity: 0;
    transform: scale(0.9);
    transition: .7s ease-in-out all;
}

.show-slide.visible{
    opacity: 1;
    transform: scale(1);
}
.show-slide q{
    font-style: italic;
    font-weight: 700;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;
}

.show-slide a {
    color: white;
}

.btn {
    margin: 10px 0;
    cursor: pointer;
    display: inline-block;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    background: var(--header);
    color: var(--black);
    font-size: 15px;
    padding: 10px 20px;
    border: 1px solid var(--backgroundIcon);
    background-color: var(--shadowImge);
    opacity: .9;
    
    /* box-shadow: 20px, 20px, 15px rgba(211, 58, 27, 0.562); */
}

.btn:hover{
    background-color: rgba(58, 47, 47, 0.1);
    opacity: .7;
    color: white;
}

/* MODAL */

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s .6s;
    --transform: translateY(-100vh) ;
    --transition: transform .8s;
}
.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .4s;
    --transform: translateY(0);
}
.modal_container{
    margin: auto;
    width: 70%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 20px;
    padding: 12px 2.5em 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
}

.modal_title{
    font-size: 40px;
}

.modal_paragrah{
    margin-bottom: 10px;
    text-align: justify;
}

.modal_img{
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
}

.modal_botonClose{
    text-decoration: none;
    color: white;
    background-color: #F26250;
    padding: 12px 36px;
    border: 1px solid ;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    transition: background-color .3s;
}

.modal_botonClose:hover{
    color: #F26250;
    background-color: #fff;
}

/* IMAGEN INFORMACION */

.show-slide h2, p {
    margin-bottom: 10px;
    /* color: #37ce8f; */
}
.show-slide p {
    margin-bottom: 10px;
    text-align: center;
}

/* Dark Mode*/

.switch {
    /* border: 1px solid red; */
    height: 40px;
    display: block;
    border-radius: 20px;
    background: var(--baseColor);
    width: 100px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    margin-bottom: 10px;
}

.switch:before{
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--white);
    transform: translateX(57px);
    transition: .3s;
    will-change: transform;

}

.checkbox:checked ~ .switch:before {
    transform: translateX(0);
}

/* PROYECTOS IMG */

.projects {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 317px), 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(min(100%, 10rem), 1fr)); */
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 1vh;
    
    /* grid-auto-rows: minmax(10px, auto); */
    width: 100%;
    height: 100%;
    position: relative;
    /* animacion */
    opacity: 0;
    transform: scale(0.9);
    transition: .7s ease-in-out all;
}

.projects.visible {
    opacity: 1;
    transform: scale(1);
}

.projects:before {
    margin: 0;
    margin-top: -40px;
    content: "";
    height: 5px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0 20px;
}
.projects-one {
    background: #ff020f;
    /* border: 1px solid var(--baseColor); */
    text-align: center;
    background-color: var(--baseColor);
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    /* width: 275px; */
    width: 100%;

}
.cursiva{
    text-transform: uppercase;
    font-style: italic;
    font-size: 13px;
}
/* .projects-one:hover {
    background-color: #D3D3D3;
    color: #1d2029;
} */

.projects-one.line-top:before {
    background: var(--lineTop);
}

.projects-one:before {
    content: "";
    height: 5px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.projects-one.line-top:after {
    background: var(--lineBottom);
}

.projects-one:after {
    content: "";
    height: 5px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.projects-one-img {
    width: 100%;
    height: 190px;
    margin-bottom: 15px;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    object-fit: cover;
}
.img1 {
    background-image: url(../img/curriculum.jepg.jpg);
}
.img2 {
    background-image: url(../img/farmacia.jpg);
    
}
.img3 {
    background-image: url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2021/06/rick-morty-2381623.jpg);
    background-position: center;
}
.img4 {
    background-image: url(../img/descarga.jpg);
    background-position: bottom;
}
.img5 {
    background-image: url(../img/clima.jpg);
    background-position: top;
}
.img6 {
    background-image: url(https://images.prismic.io/versussoftwarewebsite/77788abc-1bc1-4fdf-bc5c-225835868e7b_social.jpg?auto=compress,format&rect=237,0,3797,2848&w=1024&h=768);
    background-position: center;
}
.img9 {
    background-image: url(https://res.cloudinary.com/dz209s6jk/image/upload/v1554378991/Challenges/aaykth21moiquxkubywu.jpg);
    background-position: center;
}
.img10 {
    background-image: url(../img/Color-Picker.png);
    background-position: center;
}
.projects-one h2,
.projects-one p {
    color: var(--letraCard);
    margin: 10px 10px;

}
.projects-one .project-texto {
    margin-bottom: 1em;
    text-align: justify;
}

.iconos-card a{
    color: var(--iconoCard);
    background: var(--backgroundIcon);
    padding: 10px;
    border-radius: 50%;
}

.iconos-card a:hover {
    background: var(--baseColor);
    color: var(--letraCard);
    transition: ease 1s;
}

.iconos-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    font-size: 25px;
    padding: 10px 0;
}

.iconos-card .circle{
    padding: 0 3px;
}

.button_projects{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.button_projects a{
    padding: 0 20px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--baseColor);
    border-radius: 8px;
    font-size: 30px;
}
.button_projects a:hover{
    opacity: .9;
    color: var(--white);
    transition: opacity .3s ease-in-out;
}


/* HERRAMIENTAS */


.carrusel_body{
    width: 600px;
    height: 335px;
    border: 1px solid var(--iconFab);
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 8px;
    box-shadow: 0 7px 7px var(--letraContact);
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    background-color: #00000030;
    transition: opacity 1.5s;
    /* margin-top: -170px; */
    grid-column: 2/3;
        grid-row: 1/1;
}

.containerr{
    width: 80%;
    height: 50vh;
    margin: 40px auto;
    opacity: 0;
    transform: scale(0.9);
    transition: .7s ease-in-out all;
}
.containerr.visible {
    opacity: 1;
    transform: scale(1);
}

.slider__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 16px;
    position: relative;
}

.carrusel_body-show{
    opacity: 1;
    pointer-events: unset;
}

.carrusel_body img{
    object-fit: cover;
}

.carrusel_body img:hover{
    filter: blur(4px);
    cursor: pointer;
    /* transform: scale(1.5); */
}

.texto_carrusel .titulo_carrusel i{
    margin-top: 15px;
    color: white;
    font-size: 150px;
}
.texto_carrusel .titulo_carrusel{
    font-size: 60px;
}
.texto_carrusel .titulo_carrusel .fa-html5,
.titulo_carrusel_html{
    color: #f16528;
}

.texto_carrusel .titulo_carrusel .fa-database,
.titulo_carrusel_sql{
    color: #00758f;
}
.texto_carrusel .titulo_carrusel .fa-java,
.titulo_carrusel_java{
    color: #c00b10;
}
.texto_carrusel .titulo_carrusel .fa-git-alt,
.titulo_carrusel_git{
    color: #f05033;
}
.texto_carrusel .titulo_carrusel .fa-github-alt,
.titulo_carrusel_github{
    color: #D3D3D3;
}

.texto_carrusel .titulo_carrusel .fa-bootstrap,
.titulo_carrusel_boostrap{
    color: #59287a ;
}
.texto_carrusel .titulo_carrusel .fa-js,
.titulo_carrusel_js{
    color: #f7df1e ;
}

.texto_carrusel .titulo_carrusel .bxl-tailwind-css,
.titulo_carrusel_tailwind{
    color: #38bdf8;
}

.texto_carrusel .titulo_carrusel .fa-css3-alt,
.titulo_carrusel_css{
    color: #2277ff ;
}
.texto_carrusel .titulo_carrusel .fa-react,
.titulo_carrusel_react{
    color: #61DBFB ;
}
.texto_carrusel .titulo_carrusel .fa-sass,
.titulo_carrusel_sass{
    color: #c16596 ;
}


.texto_carrusel{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    font-family: 'Rubik Vinyl', cursive;
    /* font-family: 'Rubik Gemstones', cursive; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 3;
    pointer-events: none;
}

.titulo_carrusel{
    position: relative;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrusel_body:hover .titulo_carrusel{
    opacity: 1;
    transition: opacity .5s ease-in-out;
} 

.slider_arrow{
    cursor: pointer;
}

.slider_arrow:nth-of-type(2){
    justify-self: end;
}

.slider__container i{
    color: var(--baseColor);
    font-size: 50px;
    margin: 0 -40px;
}

.slider__container i:hover{
    transform: scale(1.2);
    transition: transform .3s ease-in-out;
    color: var(--iconFab);
}

/* CONTACTO */

.contact {
    
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 2fr));
    /* grid-template-columns: repeat(2, 1fr); */
    width: 100%;
    height: 100%;
    color: var(--letraContact);
    margin-top: 30px;
    margin-bottom: 60px;
    /* border: 1px solid red; */
    /* animacion */
    opacity: 0;
    transform: scale(0.9);
    transition: .7s ease-in-out all;
}

.contact.visible{
    opacity: 1;
    transform: scale(1);
}


.contact-img{
    margin: auto;
    /* width: 30vw; */
}

.contact-form{
    display: grid;
    flex-direction: row;
    justify-content: center;
    /* width: 50vw;    */
    /* border: 1px solid red; */
}


.contact h4 {
    margin-bottom: 12px;
}

.formulario input {
    margin-bottom: 1em;
    padding: 10px 20px;
    background: none;
    border: none ;
    border-bottom: 1px solid var(--letraContact);
    color: var(--letraContact);
}

.formulario {
    display: grid;
    flex-direction: column;
    width: 35.7vw;
    overflow: hidden;
}


.fieldset {
    padding: 20px;
    border: 1px solid var(--letraContact);
    border-radius: 15px;
}

.fieldset h4 {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}


.formulario textarea {
    height: 150px;
    background: none;
    border: none;
    color: var(--letraContact);
    padding: 25px;
    border: 1px solid var(--letraContact);
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .forma-radio{
    display: flex;
    padding-top: 10px;
    padding-bottom: 16px;
    justify-content: center;
    max-width: 30rem;
    align-items: center;
  }
.forma-radio label .fa-thumbs-up:hover{
    color: #0cdb62;
    transform: scale(2);
    transition: transform .3s;
}
.forma-radio label .fa-thumbs-down:hover{
    color: #ef1f26;
    transform: scale(2);
    transition: transform .3s;
}
.forma-radio i:hover{
    color: #0cdb62;
}
.forma-radio label {
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

  .formulario p{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
  }

  input[type="radio"]{
    width: auto;
    margin-bottom: 0;
    cursor: pointer;
  }

  .btn-submit {
    padding: 15px 0;
    width: 50%;
    font-weight: 700;
    background: var(--letrabtn);
    align-self: center;
    border-radius: 10px ;
    color: var(--letraCard);
    text-transform: uppercase;
    justify-self: center;
    cursor: pointer;
    }

  .btn-submit:hover {
      background: var(--btnSubmit);
      color: var(--letrabtn);
      font-weight: bold;
      text-transform: uppercase;
  }
/* BOTON DE IR HACIA ARRIBA */

.button-up{
    width: 60px;
    height: 60px;
    background-color: var(--iconFab);
    color: var(--baseColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: .3s ease-in-out;
    transform: scale(0);
    z-index: 100;
}

.button-up:hover{
    transform:scale(1.1);
    border-color: rgba(0,0,0,0.1);
}

  /* FOOTER */


  .footer {
    color: var(--backgroundCard);
    /* background-color: var(--backgroundHoverIcon); */
    /* animacion */
    opacity: 0;
    transform: scale(0.9);
    transition: .7s ease-in-out all;
    /* width: 100%; 
    position: absolute; */
    bottom: 0%;
    /* margin-top: 60px; */
}

.footer.visible{
    opacity: 1;
    transform: scale(1);
}

  .contenedor-footer {
    /* display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px; */
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 260px), 1fr));
    
    gap: 20px;
    width: 100%;
    height: 100%;
    
  }

  .seccionUno {
      /* grid-column: 1/4; */
      /* padding-top: 30px; */
      text-align: center;
      width: 100%;
      height: 100%;
      font-size: 15px;
  }

  .seccionDos {
      margin-top: 15px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      justify-self: center;
      margin-bottom: 20px;
  }

  .seccionUno h2 {
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: 600;
    color: var(--orange);
  }

  .p-footer p {
    line-height: 1.6;
  }

  .seccionDos .colum-footer{
      padding: 0 20px;
      white-space: 2;
      text-align: center;
      margin-bottom: 10px;
  }
  .seccionDos .colum-footer .list-footer {
      padding-top: 20px;
      color: var(--backgroundCard);
  }
  .seccionDos .colum-footer a {
    color: var(--baseColor);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;

}

  .seccionDos .colum-footer ul li{
      list-style: none;
      word-break: break-word;
      color: var(--baseColor);

  }

  .footer .social-network{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    width: 100%;
    /* margin: 20px 0; */
  }

  .social-network i{
    padding: 8px 10px;
    padding-top: 9px;
  }

.fab2 {
    width: 42px;
    color: var(--backgroundCard);
    height: 42px;
    border-radius: 50%;
    background-color: var(--iconFab);
    padding-right: 8px;
    box-shadow: var(--iconBorder);
    font-weight: 400;
    margin: 0 20px;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.fa-linkedin:hover {
    color: #0A66C2;
    background-color: var(--baseColor);
}
.fa-facebook:hover {
    color: #3b5998 ;
    background-color: var(--baseColor);
}
.fa-whatsapp:hover {
    color: #0cdb62;
    background-color: var(--baseColor);
}

  .fa-instagram:hover {
    color: #dc3545;
    background-color: var(--baseColor);
   }

    .fa-twitter-square:hover {
        color: #0d6efd;
        background-color: var(--baseColor);
    }
    .fa-githubicon:hover {
        color: var(--letraCard);
        background-color: var(--baseColor);
    }

  .footer p{
    color: var(--baseColor);
    text-align: center;
  }
  

  

  /* ocultar el checkbox */

.checkbox {
    display: none;
}

.dark-mode{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.is-dark-mode {
    --btnDownload: #D3D3D3;
    --btnDownloadHover: 5px 10px 15px rgba(215, 7, 243, 0.9);
    --fondoImg: rgba(255, 255, 255, 0.9);
    --boxShadowImg: 4px 2px 15px rgba(255, 255, 255, 0.9);
    --background: #1d2029;
    --white: #1d2029;
    --header: #000000;
    --lightGrey: #0942ee;
    --baseBackground: #012029;
    --baseColor: #D3D3D3;
    --greyBold: #726254;
    --black: white;
    --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100% );
    --letrabtn: #fff;
    --letrabtn2: #1d2029;
    --color-menu: rgba(252, 102, 15, 0.9);
    --shadowImge: 5px 5px 50px rgba(247, 243, 243, 0.9);
    --backgroundCard: #f0f3fa;
    --lineTop: hsl(37, 97%, 70%);
    --lineBottom: hsl(203, 89%, 53%);
    --letraCard: #1d2029;
    --iconoCard: #1d2029;
    /*ICONOS*/
    --backgroundIcon: #f0f3fa;
    --backgroundHoverIcon: #1d2029;
    --colorHoverIcon: #f0f3fa;
    --letraContact: #fff;
    --btnSubmit: linear-gradient(to right, #f1f1f163 0%, #c0502e7a 100% );
    --btnSubmitF: linear-gradient(to right, #ff9901 0%, #42ee0d7a 100% );
}

.is-light-mode {
    --btnDownload: #1d2029;
    --btnDownloadHover: 5px 10px 15px rgba(7, 243, 78, 0.9);;
    --boxShadowImg: 5px 10px 15px rgba(53, 40, 41, 0.9);
    --fondoImg: rgba(60, 56, 92, 0.9);
    --background: #fff;
    --white: #fff;
    --header: #D3D3D3;
    --lightGrey: #f8f9fe;
    --baseBackground: white;
    --baseColor: #1d2029;
    --greyBold: #6f717e;
    --yellow: #FFFF00;
    --black: #000000;
    --switch: linear-gradient(to right, #e5ff00 0%, #ff020f 100% );
    /* --switch: linear-gradient(to right, #ff8c09 0%, #0cdb62 100% ); */
    --letrabtn: #1d2029;
    --letrabtn2: #fff;
    --color-menu: rgba(252, 102, 15, 0.9);
    --shadowImge: 5px 5px 50px rgba(53, 40, 41, 0.9);
    --backgroundCard: #1d2029;
    --lineTop: hsl(37, 97%, 70%);
    --lineBottom: hsl(203, 89%, 53%);
    --letraCard: #fff;
    --iconoCard: #fff;
    /*ICONOS*/
    --backgroundIcon: #1d2029;
    --backgroundHoverIcon: #f0f3fa;
    --colorHoverIcon: #1d2029;
    --letraContact: #1d2029;
    --btnSubmit: linear-gradient(to right, #ff9a0163 0%, #1d20297a 100% );
}
